@use '../globals';
@use '../utils';

.nav {
    height: 60px;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid globals.$text;
    background-color: globals.$background;
    z-index: 1;
    
    @include utils.flexbox(center);

    &__mobile {
        max-width: 100%;
        padding: 0 20px;
        @include utils.breakpoint(small) {
            display: none;
        }
    }

    &__desktop {
        display: none;

        @include utils.breakpoint(small) {
            display: block;
        }
    }
}