@use '../utils' as u;

.nav {
    height: 60px;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid black;
    background-color: white;
    
    @include u.flexbox(center);

    &__mobile {
        max-width: 100%;
        padding: 0 20px;
        @include u.breakpoint(small) {
            display: none;
        }
    }

    &__desktop {
        display: none;

        @include u.breakpoint(small) {
            display: block;
        }
    }
}