@use '../globals';
@use '../utils';

.contact {
    padding-top: 0;

    .social-links {
        margin-top: 16px;

        div {
            margin-bottom: 16px;

            p {
                font-size: 14px;
                margin-bottom: 6px;
            }
    
            a {
                text-decoration: underline;
                color: globals.$secondary-color;
    
                i {
                    font-size: 10px;
                }
            }
        }
    }
}