@use '../globals';

.contact {
    padding-top: 0;

    .social-links {
        margin-top: 16px;

        div {
            margin-bottom: 16px;

            p {
                margin-bottom: 6px;
            }
    
            a {
                text-decoration: underline;
                color: globals.$secondary-color;
                font-size: 1.3rem;
                word-break: break-all;
    
                i {
                    font-size: 0.9rem;
                }
            }
        }
    }
}