@use '../globals';
@use '../utils';

footer {
    font-weight: bold;
    border-top: 1px solid globals.$text;

    h2 {
        width: 200px;
        margin-bottom: 16px;
        color: globals.$secondary-color;
        border-bottom: 3px solid globals.$secondary-color;
    }
} 