@use '../globals' as g;
@use '../utils' as u;

.nav__mobile {
    width: 100%;
    
    @include u.flexbox(space-evenly);

    .nav-link {
        a {
            flex-direction: column;
            position: relative;
            padding: 0 10px;
            transition: 0.3s;

            @include u.flexbox(center);
    
            .link-icon {
                font-size: 1.4rem;
            }

            .link-icon::after {
                content: '';
                width: 0;
                height: 3px;
                position: absolute;
                left: 0;
                bottom: -3px;
                background-color: g.$secondary-color;
                transition: 0.3s;
            }
        }

        a:hover {
            color: g.$secondary-color;

            .link-icon::after {
                width: 100%;
            }
        }
    }
}