@use '../utils';

.theme {

    &__colors {
        margin: 24px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;

        button {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            border: 2px solid black;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
            opacity: 0.5;
        }

        button.active {
            opacity: 1;
        }
    }
    
    &__light {
        background-color: white;
    }

    &__dark {
        background-color: black;
    }

    &__pride {
        background-image: linear-gradient(to bottom, #d82c01, #f1752c, #ff985b, #ffffff, #d162a3, #b75591, #a60260);
    }
}