@use '../utils';

.theme {

    &__colors {
        margin: 24px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;

        @include utils.flexbox(center);

        button {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            border: 2px solid black;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
            opacity: 0.5;
            cursor: pointer;
        }

        button.active {
            opacity: 1;
        }
    }
    
    &__light {
        background-color: white;
    }

    &__dark {
        background-color: black;
    }
}