@use '../utils' as u;

html {
 scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: u.$primary-font;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

section {
    padding: 0 20px;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    padding-top: 100px;
}