@use './colors';
@use '../utils';

html {
 scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: utils.$primary-font;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: colors.$background;
}

ul {
    list-style: none;
}

section {
    padding: 0 20px;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    padding-top: 100px;
}

.container__info {
    border: 3px solid colors.$primary-color;
    border-radius: 16px;
    padding: 16px;
}