// Palette
$background: #0f172a; 
$text: #f8fffa;
$paragraph-text: #a3bda8;
$primary: #60dacd;
$secondary: #0f4449bb;

:root {
    --background: #{$background};
    --text: #{$text};
    --paragraph: #{$paragraph-text};
    --primary: #{$primary};
    --secondary: #{$secondary};
}